.error {
    border-color: red;
}
.xButton {
    /*margin-block-start: 1.25em;*/
    margin-block-end: 1em;
    /*margin-inline-start: auto;*/
    /*margin-inline-end: 10px;*/
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.title {
    margin: 0 auto;
}
.newTaskForm {
    text-align: center;
}